body, html {
    margin:0cm;
    padding:0ch;
    font-family:Impact, 'Haettenschweiler';
    scroll-behavior: smooth;
    background-color: rgb(245, 245, 249);
    text-align: start;
    margin-left: 0.6cm;
    margin-right:0.6cm;
}

.navbar {
    position: fixed;
    top:0cm;
    width: 100%;
    background-color: #cfe8fa;
    z-index: 1000;
    transition: background-color 5s;
}

.nav-list {
    list-style-type: none;
    margin: 0cm;
    padding: 0cm;
    display: flex;
    justify-content: space-around;
    background-color: #1e1e1e;
}

.nav-item a {
    display: block;
    color: rgb(255, 41, 41);
    text-align:start;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 2s, color 2s;
}

.nav-item a:hover {
    
    background-color: #ff2323;
    color: #05f4a4;
}

.content {
    padding-top: 60px;
}

section {
    height: 100vh;
    padding: 20px;
    text-align:left;
}

#home {
    background-color: #ddd7d7b3;
    font-family: Arial, Helvetica, sans-serif;
    scroll-margin-top:inherit;
    margin-block-start: 1cm ;
    margin-top:0.5cm;
}

#etymology {
    background-color: #fef5f5;
    font-family: Arial, Helvetica, sans-serif;
    scroll-margin-top:inherit;
    margin-block-start: 1cm ;
    margin-top:0.5cm;
}

#types {
    background-color: #ddd7d7b3;
    font-family: Arial, Helvetica, sans-serif;
    scroll-margin-top:inherit;
    margin-block-start: 1cm ;
    margin-top: 0.5cm;
}

#future {
    background-color: #fef5f5;
    font-family: Arial, Helvetica, sans-serif;
    scroll-margin-top:inherit;
    margin-block-start: 1cm ;
    margin-top: 0.5cm;
}

#references {
    background-color: #ddd7d7b3;
    font-family: Arial, Helvetica, sans-serif;
    scroll-margin-top:inherit;
    margin-block-start: 1cm ;
    margin-top:0.5cm;
}
